<p-card header="Estrategia de Seguimiento y Evaluación">
  <p-table
    [columns]="cols3"
    [value]="products3"
    responsiveLayout="scroll"
    [rows]="3"
    [paginator]="true"
  >
    <ng-template pTemplate="header" let-columns style="width: 45px">
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-card header="Bivliografias">
  <p-table
    [columns]="cols4"
    [value]="products4"
    responsiveLayout="scroll"
    [rows]="3"
    [paginator]="true"
  >
    <ng-template pTemplate="header" let-columns style="width: 45px">
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
