<app-skeleton *ngIf="isLoadingSkeleton" [type]="'card'"></app-skeleton>
<form
  *ngIf="!isLoadingSkeleton"
  [formGroup]="formUser"
  (ngSubmit)="onSubmitUserInformation()"
  class="p-fluid"
>
  <!--username-->
  <div class="field">
    <label
      appLabel
      for="username"
      label="Username:"
      [required]="usernameField"
    ></label>
    <input
      pInputText
      type="text"
      id="username"
      formControlName="username"
      pKeyFilter="alphanum"
    />
    <small
      appErrorMessage
      [errors]="usernameField.errors"
      [touched]="usernameField.touched"
      [dirty]="usernameField.dirty"
    >
    </small>
  </div>

  <!--email && phone-->
  <div class="formgrid grid">
    <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <label
        appLabel
        for="email"
        label="Email:"
        [required]="emailField"
      ></label>
      <input
        pInputText
        type="email"
        id="email"
        formControlName="email"
        class="mb-1"
      />
      <small
        appErrorMessage
        [errors]="emailField.errors"
        [touched]="emailField.touched"
        [dirty]="emailField.dirty"
      >
      </small>
      <p-tag
        *ngIf="emailVerifiedAt"
        value="Verified Email"
        icon="pi pi-check"
        severity="success"
      ></p-tag>
      <p-tag
        *ngIf="!emailVerifiedAt"
        value="Unverified Email"
        icon="pi pi-times"
        severity="danger"
      ></p-tag>
    </div>
    <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <label
        appLabel
        for="phone"
        label="Phone:"
        [required]="phoneField"
      ></label>
      <input pInputText type="text" id="phone" formControlName="phone" />
      <small
        appErrorMessage
        [errors]="phoneField.errors"
        [touched]="phoneField.touched"
        [dirty]="phoneField.dirty"
      >
      </small>
    </div>
  </div>

  <!--submit-->
  <div class="field">
    <button
      pButton
      pRipple
      id="submitUserInformation"
      type="submit"
      label="Update User Information"
      icon="pi pi-save"
      [loading]="(loaded$ | async)!"
    ></button>
  </div>
</form>
