<div class="container loginForm">
  <p-card>
    <div class="p-fluid">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="field text-center">
          <h2>Recuperación de contraseña</h2>
          <img src="assets/images/logo.png" alt="" />
        </div>
        <div class="field">
          <label for="token" appLabel label="Código:"> </label>
          <input pInputText id="token" formControlName="token" />
        </div>
        <div class="field">
          <label
            for="password"
            appLabel
            label="Contraseña:"
            [required]="passwordField"
          >
          </label>
          <p-password
            id="password"
            formControlName="password"
            [feedback]="false"
            [toggleMask]="true"
          ></p-password>

          <small
            appErrorMessage
            [errors]="passwordField.errors"
            [touched]="passwordField.touched"
            [dirty]="passwordField.dirty"
          >
          </small>
        </div>
        <div class="field">
          <label
            for="passwordConfirmation"
            appLabel
            label="Repita la contraseña:"
            [required]="passwordConfirmationField"
          >
          </label>
          <p-password
            id="passwordConfirmation"
            formControlName="passwordConfirmation"
            [feedback]="false"
            [toggleMask]="true"
          ></p-password>

          <small
            appErrorMessage
            [errors]="passwordConfirmationField.errors"
            [touched]="passwordConfirmationField.touched"
            [dirty]="passwordConfirmationField.dirty"
          >
          </small>
        </div>

        <p-divider></p-divider>

        <div class="field">
          <button
            pButton
            pRipple
            label="Cambiar contraseña"
            class="p-button-success"
            icon="pi pi-key"
          ></button>
        </div>
        <div class="field">
          <button
            type="button"
            pButton
            pRipple
            label="Regresar al login"
            class=""
            icon="pi pi-arrow-left"
            [routerLink]="['/auth/login']"
          ></button>
        </div>
        <div *ngIf="progressBar" class="field">
          <app-progress-bar
            [message]="messageService.progressBarProcess"
          ></app-progress-bar>
        </div>
      </form>
    </div>
  </p-card>
</div>
