<p-tabView [scrollable]="true">
  <p-tabPanel header="Datos generales" leftIcon="pi pi-folder-open" >
    <!-- [selected]="true" -->
    <app-general-data></app-general-data>

  </p-tabPanel> 
  <p-tabPanel header="Empresas" leftIcon="pi pi-shopping-bag">
    <app-business></app-business>

  </p-tabPanel>
  <p-tabPanel header="Integrantes" leftIcon="pi pi-users">
    <app-members></app-members>

  </p-tabPanel>
  <p-tabPanel header="Actividades" leftIcon="pi pi-tags">
    <app-activities></app-activities>

  </p-tabPanel>
  <p-tabPanel header="Plan de trabajo" leftIcon="pi pi-th-large">
    <app-workplan></app-workplan>

  </p-tabPanel>
  <p-tabPanel header="Firmas" leftIcon="pi pi-file">
    <app-signatures></app-signatures>

  </p-tabPanel>
  <p-tabPanel header="Bibliografia" leftIcon="pi pi-database">
    <app-bibliographies></app-bibliographies>

  </p-tabPanel>
  <p-tabPanel header="Anexos" leftIcon="pi pi-clone">
    <app-annexes></app-annexes>

  </p-tabPanel>
  <p-tabPanel header="Observaciones" leftIcon="pi pi-comments">
    <app-observations></app-observations>

  </p-tabPanel>
  <p-tabPanel header="Adjuntar documentos" leftIcon="pi pi-cloud-upload">
    <app-attach-documents></app-attach-documents>

  </p-tabPanel>
  <p-tabPanel header="Solicitudes de certificados" leftIcon="pi pi-list">
    <app-certificate-requests></app-certificate-requests>

  </p-tabPanel>
  <p-tabPanel header="Asignacion de proyectos" leftIcon="pi pi-users">
    <app-projects-assignment></app-projects-assignment>

  </p-tabPanel>
  <p-tabPanel header="Disponibilidad de estudiantes" leftIcon="pi pi-list">
    <app-students-availability></app-students-availability>
    
  </p-tabPanel>
</p-tabView>
