<p-card>
  <div class="flex justify-content-between">
 

    <span class="flex justify-content-center align-items-center">
      {{ project.title }}
    </span>

    <div class="flex flex-column">
      <span>Project Code</span>
      <small> {{ project.code }} </small>
    </div>
  </div>
</p-card>

<p-tabView >

  <p-tabPanel header="Informacion de la solicitud" leftIcon="pi pi-file">
    <app-signatures></app-signatures>
  </p-tabPanel>
  <p-tabPanel header="Nueva solicitud estudiante" leftIcon="pi pi-file">
    <app-bibliographies></app-bibliographies>
  </p-tabPanel>
  <p-tabPanel header="Documentacion del portafolio" leftIcon="pi-briefcase ">
    <app-annexes></app-annexes>
  </p-tabPanel>

  <p-tabPanel header="Carta de compromiso" leftIcon="pi pi-cloud-upload">
    <app-attach-documents></app-attach-documents>
  </p-tabPanel>
  <p-tabPanel header="Descargar certificado" leftIcon="pi-book">
    <app-certificate-requests></app-certificate-requests>
  </p-tabPanel>
</p-tabView>
