<div class="p-fluid grid">
  <div class="field col-6">
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText />
      <label for="inputtext">PORTAFOLIO ESTUDIANTE</label>
    </span>
  </div>

  <div class="field col-3">
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText />
      <label for="inputtext">Nathaly Benavides</label>
    </span>
  </div>

  <div class="field col-3">
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText />
      <label for="inputtext"> 5 VB</label>
    </span>
  </div>

  <div class="field col-6">
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText />
      <label for="inputtext">Documento 1</label>
    </span>
  </div>

  <div class="field col-6">
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText />
      <label for="inputtext">Documento 2</label>
    </span>
  </div>

  <div class="field col-6">
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText />
      <label for="inputtext">Documento 3</label>
    </span>
  </div>

  <div class="field col-6" > 
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText />
      <label for="inputtext">OBSERVACIONES</label>
    </span>
  </div>

  <div class="field col-3">
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText />
      <label for="inputtext">Estado 
        APROBADO</label>
    </span>
  </div>
</div>
