* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

//
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.p-toolbar {
  //background: rgba(63, 81, 181, 0.10) !important;
  background: #3f51b51f !important;
  margin-bottom: 5px;
  margin-top: 5px;
}

.p-card {
  //background: rgba(63, 81, 181, 0.03) !important;
  margin-top: 5px;
  //background: #3f51b51f !important;
}

.p-panel .panel-header {
  color: rgba(6, 27, 97, 0.897) !important;
}

.p-panel i.pi {
  color: rgba(6, 27, 97, 0.897) !important;
  font-size: 1.5rem;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  //background: rgba(63, 81, 181, 0.01) !important;
  margin-top: 5px;
  color: rgba(6, 27, 97, 0.897) !important;
  //background: #3f51b51f !important;
}

.p-accordion .p-accordion-header .p-accordion-header-link i {
  font-size: 1.5rem;
}

.p-paginator {
  //background: rgba(232, 238, 255, 0.5);
  margin-bottom: 5px;
}

.router-outlet-app {
  height: 100vh;
}
