<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid">
  <!--oldPassword-->
  <div class="field">
    <label
      for="oldPassword"
      appLabel
      label="Old Password:"
      [required]="oldPasswordField"
    >
    </label>
    <input
      pPassword
      type="password"
      id="oldPassword"
      formControlName="oldPassword"
    />
    <small
      appErrorMessage
      [errors]="oldPasswordField.errors"
      [touched]="oldPasswordField.touched"
      [dirty]="oldPasswordField.dirty"
    >
    </small>
  </div>
  <!--newPassword && confirmPassword-->
  <div class="formgrid grid">
    <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <label
        appLabel
        for="newPassword"
        label="New Password:"
        [required]="newPasswordField"
      >
      </label>
      <input
        pPassword
        type="password"
        id="newPassword"
        formControlName="newPassword"
        [feedback]="false"
      />
      <small
        appErrorMessage
        [errors]="newPasswordField.errors"
        [touched]="newPasswordField.touched"
        [dirty]="newPasswordField.dirty"
      >
      </small>
    </div>
    <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <label
        appLabel
        for="confirmationPassword"
        label="Confirm Password:"
        [required]="confirmationPasswordField"
      >
      </label>
      <input
        pPassword
        type="password"
        id="confirmationPassword"
        formControlName="confirmationPassword"
        [feedback]="false"
      />
      <small
        appErrorMessage
        [errors]="confirmationPasswordField.errors"
        [touched]="confirmationPasswordField.touched"
        [dirty]="confirmationPasswordField.dirty"
      >
      </small>
    </div>
  </div>
  <!--submit-->
  <div class="field">
    <button
      pButton
      pRipple
      id="submitChangePassword"
      type="submit"
      label="Change Password"
      icon="pi pi-key"
      [loading]="(loaded$ | async)!"
    ></button>
  </div>
  <div *ngIf="progressBar" class="field">
    <app-progress-bar
      [message]="messageService.progressBarProcess"
    ></app-progress-bar>
  </div>
</form>
