<div class="grid col-12">
  <div class="col-6 p-0 m-0">
    <img
      class="col-12 p-0 m-0"
      src="assets/images/bg_login.png"
      alt="yavirac"
    />
  </div>
  <div class="col-6 p-0 m-0">
    <p-card class="p-0 m-0">
      <div class="grid p-fluid" style="height: 30.755rem">
        <form class="grid col-12">
          <div class="grid pt-5 col-12 justify-content-center">
            <img src="assets/images/user.png" alt="user" />

            <h3 class="col-12 text-center">Restablecer Clave</h3>
          </div>

          <div class="col-12">
            <div class="col-12 p-fluid field">
              <span class="p-float-label col-12">
                <input type="text" id="user" pInputText />
                <label for="user" class="px-2">Contraseña nueva</label>
              </span>
            </div>

            <div class="col-12 p-fluid field">
              <span class="p-float-label col-12">
                <input type="text" id="password" pInputText />
                <label for="password" class="px-2">Confirma la contraseña</label>
              </span>
            </div>
          </div>

          <div class="m-auto col-9">
            <div class="m-auto col-6">
              <div class="col-12"><button
                pButton
                type="button"
                label="Iniciar Sesion"
                class="bg-yellow-500 p-button-help"
              ></button></div>
              <div class="col-12"><button
                pButton
                type="button"
                label="Restablecer Contraseña"
                class="bg-green-500 p-button-help"
              ></button></div>
            </div>
          </div>
        </form>
      </div>
    </p-card>
  </div>
</div>

